/* Global variables to update theme colors and styles */
:root {
  --global-primary-font: Garamond, serif; 
  --global-font-color: lime;
  --global-primary-color: #3b3939;  
  --global-accent-color: #2d2a2a;
  --global-box-shadow: 0.125em 0.125em 0.25em lime;  
  --global-opacity: 1;
  --global-transition-speed: 0.4s;
}

/* THEME CHANGES  
  * Changes global element fonts, colors, and box shadow
  * New header image and header text (triggered in main.js)
  * Changes border radius of main containers/gallery images
  * Changes link colors when hovering
  * Added animations to main image, gallery images, gallery button, 
    and videos when hovering over them
*/

.main-section-containers, .gallery-img {
  border-radius: 0.5em;
}

.nav-links:hover, .footer-links:hover {
  color: #d15918;
}

#gallery-btn {
  color: black;
  background-color: #bbb;
}

#gallery-btn, #main-img, .iframe-container {
  transition: var(--global-transition-speed);
}  

#gallery-btn:hover, #main-img:hover,
.gallery-img:hover, .iframe-container:hover {
  transform: scale(125%, 125%);
}
